@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar::-webkit-scrollbar {
    width: 8px !important;
}

.sidebar::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.801);
    border: 2px solid rgb(132, 130, 130);
}

.sidebar::-webkit-scrollbar-thumb {
    background: rgba(163, 160, 160, 0.628);
    border-radius: 8px;
    border: 1px solid rgba(57, 56, 56, 0.482);
}